.tile__wrapper {

    display: flex;
    align-items: center;
    background-color: #262627;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    padding: .15em;
    margin-top: .25em;
    box-shadow: 0px 0px 2px 2px #757779;
}

.tile__container {

    display: flex;
    flex: 3;
    flex-direction: column;
    padding-right: .25em;
}

.tile__header {

    font-weight: 500;
    padding-left: .5em;
}

.tile__detail {

    padding-left: .5em;
}

.tile__detail span {

    padding-right: .25em;
}

.tile__img--container {

    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: .25em;
}

.tile__img {

    border: 2px solid white;
    border-radius: 5px;
}

.tile__hourly--wrapper {

    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: black;
    margin-top: .25em;
    padding-bottom: .25em;
    border-radius: 5px;
}